
Install:

pip install pyttsx3




YouTube Content Creator 
~Parvat Computer Technology 



Social media:
Email id: parvatcomputertechnology@gmail.com 
Chat support: https://www.instagram.com/pct_parvatcomputertechnology/



© 2023 ParvatComputerTechnology  Delhi India, Inc. All rights reserved